WpfRpg/Map.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Map">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Layer">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Column">
								<xs:complexType>
									<xs:sequence>
										<xs:choice minOccurs="1" maxOccurs="unbounded">
											<xs:element name="Tile">
												<xs:complexType>
													<xs:sequence minOccurs="0" maxOccurs="unbounded">
														<xs:element name="Tag" type="xs:string" />
													</xs:sequence>
													<xs:attribute name="Appearance" type="xs:string" use="required" />
												</xs:complexType>
											</xs:element>
											<xs:element name="Null"/>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ExternalAppearance" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Tileset" type="xs:string" use="required" />
			<xs:attribute name="Style" type="xs:string" use="required" />
			<xs:attribute name="Name" type="xs:string" use="required" />
			<xs:attribute name="TileWidth" type="xs:unsignedInt" use="required" />
			<xs:attribute name="TileHeight" type="xs:unsignedInt" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>